body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
}
h1 {
    float: left;
}
input {
    padding: 5px;
    margin: 5px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}
button {
    background-color: rgb(74, 166, 194);
    color: white;
    padding: 5px;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 5px;
    width: 135px;
}
.submitButton {
    background-color: rgb(40, 115, 201);
    color: white;
    width: 150px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}