@media screen and (max-width: 479px) {
    .blue {
        width: 200px;
        height: 220px;
    }
    .rose_boxes {
        left: 70px;
        display: block;
    }
    .green {
        width: 200px;
        height: 100px;
        float: none;
    }
    .red {
        margin-left: 0;
        width: 200px;
        height: 180px;
    }
    .orange_boxes {
        top: 20px;
        left: 30px;
    }
    .orange_box {
        width: 130px;
        height: 30px;
    }
    .yellow {
        width: 200px;
        height: 100px;
    }
}