.contents {
    width: 350px;
    height: 350px;
}
.top {
    height: 100px;
    display: flex;
}
.middle {
    height: 150px;
    display: flex;
}
.bottom {
    height: 100px;
    display: flex;
}
.yellow {
    background-color:#FFFF66;
    width: 150px;
    
}
.gray {
    background-color: #666;
    width: 200px;
}
.red {
    background-color: #FF3333;
    width: 150px;
    
}
.blue {
    background-color: #3366FF;
    width: 100px;
}
.green {
    background-color: #669933;
    width: 100px;
}
.orange {
    background-color: #FF9966;
    width: 150px;
}
.creme {
    background-color: #FFFFCC;
    width: 100px;
}
.purple {
    background-color:#330066;
    width: 100px;
}